@use '../../../../styles/utils/mixins' as mix;

.header {
  --gap: 40px;

  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-border);

  @include mix.main-transition('background-color', 150ms);
  @media (width <= 820px) {
    --gap: 20px;
  }
}

.wrapper {
  @extend %wrapper;

  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.nav {
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.nav-group {
  display: flex;
  gap: var(--gap);
  align-items: center;
  @media (width <= 820px) {
    display: none;
  }
}

.image {
  min-width: 160px;
  height: fit-content;
}

.link {
  padding: 28px 0;

  &[data-disable='true'] {
    @include mix.non-interactive;

    opacity: 0.4;
  }
}

.logout {
  height: 38px;
}

.sticky {
  position: sticky;
  z-index: 100;
  top: 0;

  width: 100%;
  border: unset;

  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);

  .link {
    padding: 16px 0;
  }
}
