@use '../../../../styles/utils/mixins' as mix;

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.group {
  display: flex;
  gap: 28px;
  align-items: center;
}

.image {
  width: auto;
  height: 20px;
}

.link {
  padding: 8px;

  &[data-disable='true'] {
    @include mix.non-interactive;

    opacity: 0.4;
  }
}
