@use '../../../styles/utils/mixins' as mix;

.wrapper {
  @extend %article;

  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;

  width: 400px;

  font-family: 'Open Sans', sans-serif;
}

.link {
  @extend %btn-primary;

  height: auto;
  text-decoration: none;
  @include mix.focused {
    color: var(--color-btn);
  }
}
