@use '../../styles/utils/mixins' as mix;

.form {
  display: flex;
  flex-direction: column;
}

.key {
  border-right: unset !important;
  border-bottom: unset !important;
  border-radius: 0 !important;
}

.fields {
  display: block;
}

.field {
  display: flex;

  &:last-of-type {
    border-bottom: var(--border-style);
  }
}

.value {
  border-bottom: unset !important;
  border-radius: 0 !important;
}

.remove {
  padding: 10px;
  color: var(--color-green-gray);
  @include mix.focused {
    color: var(--color-accent);
  }
}

.add {
  flex-grow: 1;
  min-width: 100px;
}

.btn,
.save {
  min-width: 100px;
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.save {
  background-color: var(--color-violet-light);
}

.hint {
  margin-bottom: 12px;
  font-size: 10px;
  opacity: 0.6;
}
