.wrapper {
  width: 100%;
  padding: 20px 0;
}

.heading {
  @extend %section-heading;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  color: var(--color-error);
}
