@use '../../../styles//utils//mixins' as mix;

.wrapper {
  @extend %article;
}

.heading {
  @extend %section-heading;
}

.hint {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;

  text-align: center;
}

.link {
  @extend %btn-primary;

  text-decoration: none;
  @include mix.focused {
    color: var(--color-btn);
  }
}
